{% extends 'base.html.twig' %}

{% block body %}
    <div style="max-width: 1280px; margin: auto">
        <script src="//content.jwplatform.com/players/g1vHS6ak-1l85A81K.js"></script>
    </div>
{% endblock %}
