{% extends 'base.html.twig' %}

{% block body %}
    <div style="max-width: 1280px; margin: auto">
        <img src="http://placeholder.pics/svg/1280x300/FF0000-FFFFFF/FF0000-FFFFFF/23VOD" class="img-responsive" alt="">
        <script src="//content.jwplatform.com/players/g1vHS6ak-1l85A81K.js"></script>
    </div>
{% endblock %}
