{% extends 'base.html.twig' %}

{% block all %}
    <div class="bg-player">
        <div class="container-fluid">
            <div id="player">
                Loading the player...
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if anime.info.iframe == 0 %}
        <script src="https://content.jwplatform.com/libraries/1l85A81K.js"></script>
        <script type="text/javascript">
            jwplayer("player").setup({
                {% if anime.info.playlist == 1 %}
                {% for playlist in anime.playlist %}
                file: "{{ playlist.content|raw }}",
                {% endfor %}
                {% else %}
                file: "{{ anime.info.content|raw }}",
                {% endif %}
            });
        </script>
    {% else %}
        <script>
            $("#player").html('<div class="embed-responsive embed-responsive-16by9">' +
                    '<iframe class="embed-responsive-item" src="{{ anime.info.content }}"></iframe>' +
                    '</div>');
        </script>
    {% endif %}
{% endblock %}
