{% extends "::base.html.twig" %}

{% block title %}AppBundle:Free:showAll{% endblock %}

{% block body %}
<ul>
    {% for animu in anime %}
        <li>{{ animu.title }}</li>
    {% endfor %}
</ul>
{% endblock %}
